{% extends 'base_dashboard.html' %} {% load static %}
{% load index %}
{% block title %} Add An {% endblock %}
 {% block content %}

<div class="content" id="main_content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header">
					<h5 class="card-title" style="font-size:19px; margin-bottom:2px;">Answer Key</h5>
					<h3 class="title"> {{qpaper.name}}</h3>
					<div class="card-description" style="font-size:17.5px; margin-top:-12px;">
						Please specify answer for all the questions.
					</div>


				</div>

				<div class="card-body">
					<div class="row">
						{% for count_arr in qarr %}
						<div class="col-md-3">
							<div class="card card-user">
								<div class="card-body">
									{% for x in count_arr %}
									{% if q_type|index:x == "MCQ" %}
									<div class="row" id="qrow_{{x}}" data-toggle="popover" data-content="Please enter the answer.">
										<div class="col-md-3">
											<h5 style="text-align: left; padding:11px 0;"> {{x}}. </h5>
										</div>
										<div class="col-md-9">
											<input type="radio" id="que_id{{x}}A"  name="ques_{{x}}" value="A">
											<label for="que_id{{x}}A" class="btn btn-icon btn-round"
											style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
												A
											</label>
											<input type="radio" id="que_id{{x}}B" name="ques_{{x}}" value="B">
											<label for="que_id{{x}}B" class="btn btn-icon btn-round"
											style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
												B
											</label>
											<input type="radio" id="que_id{{x}}C" name="ques_{{x}}" value="C">
											<label for="que_id{{x}}C" class="btn btn-icon btn-round"
											style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
												C
											</label>
											<input type="radio" id="que_id{{x}}D" name="ques_{{x}}" value="D">
											<label for="que_id{{x}}D" class="btn btn-icon btn-round"
											style="padding:5px;transition: all 0.7s; text-align:center" >
												D
											</label>
										</div>

									</div>
									{% elif q_type|index:x == "int" %}
									<div class="row">
										<div class="col-md-3">
											<h5 style="text-align: left; padding:11px 0;"> {{x}}. </h5>
										</div>
										<div class="col-md-7">
											<div class="form-group">
												<input  type="number" class="form-control" placeholder="Answer"  name="ques_{{x}}">
											</div>
										</div>
									</div>

									{% endif %}
									<hr>

									{% endfor %}
								</div>
								<div class="card-footer">
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="card-footer some_new" style="border-radius: 0.2857rem;text-align: center ;border: 0.0625rem solid #e14eca;">
					<button id="submit_key" form="paper-form" type="submit" class="btn btn-fill btn-primary">Proceed</button>
				</div>
			</div>

		</div>
	</div>

</div>
<!--  Sections -->

<form = "" id="qpaper_key_form" method="POST" style="display:none">
    <input name="data" id="key_data" type="text">
</form>
<style>

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	border: solid 1.5px #e14eca;
}
</style>

<script>



    let q_type = {{q_type|safe}};
    let unfilled = []
    function getOption(ques_no){
        // console.log(typeof(ques_no));
        if(q_type[ques_no] == "MCQ"){
            if($(`input[name="ques_${ques_no}"][value="A"]`).prop("checked")){
                return "A";
            }
            if($(`input[name="ques_${ques_no}"][value="B"]`).prop("checked")){
                return "B";
            }
            if($(`input[name="ques_${ques_no}"][value="C"]`).prop("checked")){
                return "C";
            }
            if($(`input[name="ques_${ques_no}"][value="D"]`).prop("checked")){
                return "D";
            }
            unfilled.push(ques_no);
            // $(`#qrow_${ques_no}`).popover('show');
            // console.l
            return "_";
        }
        if(q_type[ques_no] == "int"){
            if($(`input[name="ques_${ques_no}"`).val()){
                return $(`input[name="ques_${ques_no}"`).val();
            }
            else{
                unfilled.push(ques_no);
                return "_";
            }

        }
    }
</script>
{% endblock %}



{% block js_script %}

	$("#submit_key").click(function(){
		let answers = ["X"];
        unfilled = [];
		for(i = 1; i <= {{qpaper.q_count}}; i++){
            let tmp_ans = getOption(i);
			answers.push(tmp_ans);
		}

        if(unfilled.length){
            message = "Please fill the answers for these questions: <br>" + JSON.stringify(unfilled);
            showNotification("top", "right", "warning","icon-email-85" , message);
            return;
        }
		console.log(answers);

        $("#key_data").val(JSON.stringify(answers));
        $("#qpaper_key_form").submit();



	});

{% endblock %}




<!--  -->
