{% extends 'register/base_login.html' %}

{% block title %}
Sign Up
{% endblock %}
{% block content %}
<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
	<form class="login100-form validate-form" method="post">
          {% csrf_token %}
		<span class="login100-form-title p-b-37">
			Sign Up
		</span>

		<div class="wrap-input100 validate-input m-b-20" data-validate="Enter first name">

            <input type="text" name="first_name" maxlength="30" id="id_first_name"
            required placeholder="First Name " class="input100">
			<span class="focus-input100"></span>
		</div>

        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter last name">

            <input type="text" name="last_name" maxlength="150" id="id_last_name"
            required placeholder="Last Name " class="input100">
            <span class="focus-input100"></span>

        </div>





        {% if form.email.errors%}
        <div class=" m-b-5" >
            <span class="txt1" style="color:rgba(220,20,60, .9);">

                    {% for error in form.email.errors %}
                    {{error}}
                    {% endfor %}

            </span>
        </div>
        {% endif %}
        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter email">

            <input type="email" name="email" maxlength="254" id="id_email"
            required placeholder="Email " class="input100">
			<span class="focus-input100"></span>
		</div>


		{% if form.username.errors%}
        <div class=" m-b-5" >
            <span class="txt1" style="color:rgba(220,20,60, .9);">

                    {% for error in form.username.errors %}
                    {{error}}
                    {% endfor %}

            </span>
        </div>
        {% endif %}

        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">

            <input type="text" name="username" required maxlength="150" id="id_username"
              required placeholder="Username " class="input100">
			<span class="focus-input100"></span>
		</div>

		<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
            <input type="password" name="password" id="id_password" required placeholder="password" class="input100">
			<span class="focus-input100"></span>
		</div>

		<hr>
		<div class="form-group" data-validate="Your Role">
			<label>Your Role</label>
			<select name="u_type" id="u_type" class="form-control border-input required">
			<option value="S">Student</option>
			<option value="T">Teacher</option>
			</select>
		</div>
		<hr>

		<div class="container-login100-form-btn">
			<button class="login100-form-btn" type="submit">
				Sign In
			</button>
		</div>

		<div class=" p-t-20 p-b-20" >

		</div>


		<div class="text-center">
			<a href="/login" class="txt2 hov1">
				Log In
			</a>
		</div>
	</form>


</div>

{% endblock %}





<!-- <h2>Sign up</h2>
<form method="post">
  {% csrf_token %}


  {% for field in form %}
  <p>
  {{ field.label_tag }}<br>
  {{ field }}
  {% if field.help_text %}
  <small style="color: grey">{{ field.help_text }}</small>
  {% endif %}
  {% for error in field.errors %}
  <p style="color: red">{{ error }}</p>
  {% endfor %}
  </p>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
<a href = '/api/login'> login </a> -->
