{% extends 'base_dashboard.html' %} {% load static %} {% block title %} Add Sections {% endblock %} {% block content %}

<div class="content " id="main_content" >
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Add Sections</h5>
				</div>
				<div class="card-body">
					<h4 class="card-description">
						Default question pattern is MCQ for all the questions and default marking scheme is +4/ -1. <br>
						Please add sections if you want to add specific marking schemes.<br>
						If you are adding sections then they must cover all your questions.
					</h4>

					<div id="section_tool" style="display:none;">
						<hr>
						<p class="description">
							Specify Section Details
						</p>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Begin</label>
									<input type="number" class="form-control" placeholder="Question Number" id="begin"  value="1">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>End</label>
									<input type="number" class="form-control" placeholder="Question Number" id="end" value="{{qpaper.q_count}}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 pr-md-1">
								<div class="form-group">
									<label>Positive Marks</label>
									<input type="number" class="form-control" placeholder="For correct question" id="pos" value="4">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Negative Marks</label>
									<input type="number" class="form-control" placeholder="For wrong question" id="neg" value="1">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Question Type</label>
									<select id="q_type" class="form-control border-input required">
									<option value="MCQ">MCQ</option>
									<option value="int">Integer</option>
									<option value="MCR">Multiple Correct</option>
									<option value="MCP">Multiple Correct No Partical</option>
									</select>
								</div>
							</div>
						</div>
					</div>



				</div>

				<div class="card-footer">
					<button class="btn btn-fill btn-info " id="add_section" style="display:none; margin-right:15px;"> Add Section</button>
					<button class="btn btn-fill btn-primary " id="add_button" style="margin-right:15px;"> Add </button>
					<button class="btn btn-fill btn-danger "> Skip </button >
					<button class="btn btn-fill btn-primary" id="list_button" style="display:none; float:right;"> Show Sections </button>

				</div>
			</div>
		</div>

	</div>
	<!--  Sections -->
	<div class="row" id="sections" style="display:none;">
		<div class="col-md-12" >
			<div class="card">
				<div class="card-header">
					<h5 class="title">Sections</h5>
				</div>
				<div class="card-body">
                  	<div class="table-responsive">
	                    <table class="table tablesorter " >
							<thead class=" text-primary">
							<tr>
							  	<th class="text-center">
							    	Begin
							  	</th>
							  	<th class="text-center">
							    	End
							  	</th>
							  	<th class="text-center">
							    	Positive Marks
							  	</th>
							  	<th class="text-center" >
							    	Negative Marks
							  	</th>
							  	<th class="text-center" >
							    	Question Type
							  	</th>
							</tr>
							</thead>
		                    <tbody id="section_tbody">
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-fill btn-success " id="submit_sections" > Submit</button>

				</div>
			</div>
		</div>

	</div>
</div>
<form = "" id="qpaper_form" method="POST" style="display:none">
	<input name="data" id="t_data" type="text">
</form>

<style>
.fast-animate{
	 animation-duration: 0.4s;
}
</style>
{% endblock %}
{% block js_script %}

let my_sections = [];
$("#add_button").click(function(){
	$("#add_button").hide();
	$("#list_button").show();
	$("#section_tool").show(500);
	$("#sections").show(1200);
	$("#add_section").show();
});
let sec_ctr = 1;
$("#add_section").click(function(){
	var begin = $("#begin").val();
	var end = $("#end").val();
	var q_type = $("#q_type").val();
	var pos = $("#pos").val();
	var neg = Math.abs($("#neg").val());
	$("#begin").val(1);
	$("#end").val({{qpaper_file.q_count}});
	$("#pos").val(4);
	$("#neg").val(1);
	$("#q_type").val("MCQ");

	let tmp_sect = {
		begin: begin,
		end: end,
		q_type: q_type,
		pos: pos,
		neg: neg,
	};

	my_sections.push(tmp_sect);
	console.log(tmp_sect);
	console.log(my_sections);
	var $new_sec = $(`<tr class="animated slideInDown fast-animate">
			<td class="text-center"> ${begin} </td>
			<td class="text-center"> ${end} </td>
			<td class="text-center"> ${pos} </td>
			<td class="text-center"> ${neg} </td>
			<td class="text-center"> ${q_type} </td>
		</tr>`).hide()
	<!-- $new_sec.hide(); -->
	$("#section_tbody").append($new_sec);
	$new_sec.show('slow');
	<!-- $new_sec.show(); -->

});

$("#list_button").click(function() {
    $('html, body').animate({
        scrollTop: $("#sections").offset().top
    }, 500);
});
$("#submit_sections").click(function(){

	$("#t_data").val(JSON.stringify(my_sections));
	$("#qpaper_form").submit();
	console.log(my_sections);
	console.log(111);



});
{% endblock %}
