{% extends 'base_dashboard.html' %} {% load static %} {% block title %} Test Profile{% endblock %} {% block content %}
<div class="content" id="main-content">
	<div class="row">
		<div class="col-md-5">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Create Test</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-9 pr-md-1">
							<div class="form-group">
								<label>Exam Name</label>
								<input disabled  class="form-control " style="color:#ddd;" value="{{qpaper.name}}">
							</div>
						</div>
						<div class="col-md-3 pl-md-1">
							<div class="form-group">
								<label>Question Count</label>
								<input disabled  class="form-control " style="color:#ddd;" value="{{qpaper.q_count}}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 pr-md-1">
							<div class="form-group">
								<label>Subject</label>
								<input disabled  class="form-control " style="color:#ddd;" value="{{qpaper.subject}}">
							</div>
						</div>

						<div class="col-md-3 px-md-1">
							<div class="form-group">
								<label>Duration (in mins)</label>
								<input disabled  class="form-control " style="color:#ddd;" value="{{qpaper.duration}}">
							</div>
						</div>
						<div class="col-md-3 pl-md-1">
							<div class="form-group">
								<label>Maximum Marks</label>
								<input disabled  class="form-control " style="color:#ddd;" value="{{qpaper.max_marks}}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 pr-md-1">
							<div class="form-group">
								<label>Syllabus</label>
								<textarea disabled  class="form-control" style="color:#ddd;" >{{qpaper.syllabus}}</textarea>
							</div>
						</div>
						<div class="col-md-6 pl-md-1">
							<div class="form-group">
								<label>Description</label>
								<textarea disabled  class="form-control " style="color:#ddd;">{{qpaper.description}}</textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>

		<!-- Leaderboard -->
		<div class="col-md-7">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Leaderboard</h5>
				</div>
				<div class="card-body">
					{% if attempts %}
					<div class="table-responsive">
	                    <table class="table tablesorter " >
							<thead class=" text-primary">
							<tr>
							  	<th class="text-center">
							    	Username
							  	</th>
							  	<th class="text-center">
							    	Student Name
							  	</th>
							  	<th class="text-center">
							    	 Marks
								</th>
								<th class="text-center">
									IP
								</th>
								<th class="text-center">
									Time
								 </th>
							</tr>
							</thead>
		                    <tbody >
								{% for x in attempts %}
								<tr>
									<td class="text-center">
										<a href="/analyze-test/{{x.id}}" class="text-info">
										{{ x.user.username }}
										</a>
								  	</td>
								  	<td class="text-center">
										{{ x.user.profile.full_name }}
								  	</td>
								  	<td class="text-center">
								    	{{ x.marks }}
									</td>
									<td class="text-center">
								    	{{ x.ip_address }}
								  	</td>
									<td class="text-center">
								    	{{ x.time_taken }}
									  </td>								
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<h4> No records </h4>
					{% endif %}
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.color_dis{
	color:#ddd;
}
</style>
{% endblock %}



{% block js_script %}





{% endblock %}
