{% extends 'base_dashboard.html' %}
{% load static %} {% block title %} Analyze Test {% endblock %} {% block content %}
{% load index %}





<div class="content" >


	<div class="row">

		<div class="col-md-9" >
			<div class=" btn-group btn-group-toggle float-right"
			style="margin-top:-40px; margin-bottom:8px;" data-toggle="buttons">
			 <label class="btn btn-sm btn-primary btn-simple active" id="pdf0">
			   <input  type="radio" name="options" checked>
			   <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Ques Paper</span>
			   <span class="d-block d-sm-none">
				 <i class="tim-icons icon-single-02"></i>
			   </span>
			 </label>
			 <label class="btn btn-sm btn-primary btn-simple" id="pdf1">
			   <input  type="radio" class="d-none d-sm-none" name="options">
			   <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Solution</span>
			   <span class="d-block d-sm-none">
				 <i class="tim-icons icon-gift-2"></i>
			   </span>
			 </label>
			</div>
			<!-- <div id="pdf_viewer" style="height: calc(100vh - 100px);">
			</div> -->
		</div>
		<div id="pdf_viewer" class="col-md-9"  style="min-height: calc(100vh - 100px)">
			<iframe src="{{qpaper_file_url}}" height="100%" width="100%">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</div>

		{% if qpaper.soln_file %}
		<div id="pdf_viewer1"  class="col-md-9"  style="display: none; min-height: calc(100vh - 100px)">
			<iframe src="{{soln_file_url}}" height="100%" width="100%">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</div>
		{% endif %}


		<div class="col-md-3" >
			<div class="card" >
				<div class="card-header">
						<h5 class="title">Questionwise
							<span class="float-right">
								Score:  {{marks}}/{{qpaper.max_marks}}
							</span>
						</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive" style="height: calc(100vh - 180px); overflow:scroll;">

						<table class="table tablesorter " >
							<thead class=" text-primary">
							<tr>
								<th class="text-center">
									Ques No.
								</th>
								<th class="text-center">
									Your Answer
								</th>
								<th class="text-center">
									Correct Answer
								</th>
								<th class="text-center" >
									Score
								</th>

							</tr>
							</thead>
							<tbody >
								{% for i in qarr %}
								<tr class="animated slideInDown fast-animate">
									<td class="text-center"> {{i}}. </td>
									<td class="text-center"> {{response|index:i}} </td>
									<td class="text-center"> {{answer_key|index:i}} </td>
									{% if q_result|index:i == "1" %}
									<td class="text-center" > <span class="text-success"> {{marking_scheme|index:i}} </span> </td>
									{% elif q_result|index:i == "0" %}
									<td class="text-center" style="background:var(--danger)"> {{negative_marking_scheme|index:i}} </td>
									{% else %}
									<td class="text-center"> 0 </td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<style>
.fast-animate{
	 animation-duration: 0.3s;
}
::-webkit-scrollbar {
	display: none;
}



</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"> </script>

<script>


	// let qpart_active = $("#card_qno_opt1");
	// function switchSection(new_section){
	// 	console.log("this", this);
	// 	qpart_active.hide(new_section);
	// 	let qpart_new = $(new_section);
	// 	qpart_new.show('slow');
	// 	qpart_active = qpart_new;
	// 	console.log(`#card_${$(this).attr('id')}`);
	// }

</script>
{% endblock %}

{% block js_script %}
let qpart_active = $("#card_qno_opt1");
function switchSection(new_section){
	console.log("this", this);
	qpart_active.hide(new_section);
	let qpart_new = $(new_section);
	qpart_new.show('slow');
	qpart_active = qpart_new;
	console.log(`#card_${$(this).attr('id')}`);
}

$("#pdf0").change(function(){
	$("#pdf_viewer1").hide();
	$("#pdf_viewer").show(300);

});

$("#pdf1").change(function(){
	$("#pdf_viewer").hide();
	$("#pdf_viewer1").show(300);

});


{% endblock %}
