{% load index %}
<!-- Question Start -->
{% for i in idx_arr %}
{% for x in qarr|index:i %}
{% ifequal x 1 %}
<div class="card animated fadeInRightBig fast-animate" id="ques_card_{{x}}">
{% else %}
<div class="card animated fadeInRightBig fast-animate" style="display: none" id="ques_card_{{x}}">
{% endifequal %}
	<div class="card-header">
		<h5 class="title">Answers</h5>
		<h4 class="sub-title">Ques - {{x}}</h4>
		<hr>
	</div>
	<div class="card-body" style="text-align:center;">

		<div class="row">
			<div class="col-md-12">
				<h4> Select Answer </h4>
			</div>
			<div class="col-md-12">
				<p> Marking:
					<span class="text-success"> +{{marking_scheme|index:x}} </span>
					<span class="text-danger"> / {{negative_marking_scheme|index:x}} </span>
				</p>
			</div>
		</div>

		<div class="row" style="margin-top:5px;">
			{% if q_type|index:x == "MCQ" %}
			<div class="col-md-12" style="text-align:center;">
				<input onclick="valueChanged({{x}})" type="radio" id="que_id{{x}}A"  name="ques_{{x}}" value="A">
				<label for="que_id{{x}}A" class="btn btn-icon btn-round"
				style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
					A
				</label>
				<input onclick="valueChanged({{x}})" type="radio" id="que_id{{x}}B" name="ques_{{x}}" value="B">
				<label for="que_id{{x}}B" class="btn btn-icon btn-round"
				style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
					B
				</label>
				<input onclick="valueChanged({{x}})" type="radio" id="que_id{{x}}C" name="ques_{{x}}" value="C">
				<label for="que_id{{x}}C" class="btn btn-icon btn-round"
				style="margin-right: 7px;padding:5px;transition: all 0.7s; text-align:center" >
					C
				</label>
				<input onclick="valueChanged({{x}})" type="radio" id="que_id{{x}}D" name="ques_{{x}}" value="D">
				<label for="que_id{{x}}D" class="btn btn-icon btn-round"
				style="padding:5px;transition: all 0.7s; text-align:center" >
					D
				</label>
			</div>
			{% elif q_type|index:x == "int" %}
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="form-group">
					<input onchange="valueChanged({{x}})"  type="number" class="form-control" placeholder="Press Enter after answering "  name="ques_{{x}}">
				</div>
			</div>
			{% endif %}
		</div>
		<div class="row" style="margin-top:25px">

			<div class="col-md-1" style=" ">
			</div>
			<div class="col-md-10" style="">
				<button class="btn btn-fill btn-info float-left animated zoomIn fast-animate" id="mark_{{x}}" onclick="markQues({{x}})"> Mark </button >
					<button class="btn btn-fill btn-mute float-left animated zoomIn fast-animate" style="display:none;" id="unmark_{{x}}" onclick="unmarkQues({{x}})" > Unmark </button >
				<button id="clear_{{x}}" class="btn btn-fill btn-warning float-right animated zoomIn fast-animate"   style="display:none;" onclick="clearQues({{x}})"> Clear </button >
			</div>

		</div>

		<button onclick="slideQues({{x}},-1)"class="btn btn-round btn-icon btn-success float-right "
		style="position:absolute; top:47%;left:3%; font-size:25px; opacity:0.8">
			<i class="fas fa-arrow-circle-left"></i>
		</button >

		<button onclick="slideQues({{x}},1)"class="btn btn-round btn-icon btn-success float-right "
		style="position:absolute; top:47%;right:3%; font-size:25px; opacity:0.8">
			<i class="fas fa-arrow-circle-right"></i>
		</button >

	</div>
</div>
<!-- Question End -->
{% endfor %}
{% endfor %}
