{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="{% static 'dashboard/assets/img/favicon.png">
	<title>
		{% block title %} {% endblock %}
	</title>
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<!-- Nucleo Icons -->
	<link href="{% static 'dashboard/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
	<!-- CSS Files -->
	<link href="{% static 'dashboard/assets/css/black-dashboard.css' %}" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="{% static 'dashboard/assets/demo/demo.css' %}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">

</head>

<body class="">

	<div class="wrapper">

		<div class="main-panel">

			<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
	          <div class="container-fluid">
	            <div class="navbar-wrapper">
	              <div class="navbar-toggle d-inline">
	                <button type="button" class="navbar-toggler">
	                  <span class="navbar-toggler-bar bar1"></span>
	                  <span class="navbar-toggler-bar bar2"></span>
	                  <span class="navbar-toggler-bar bar3"></span>
	                </button>
	              </div>
	              <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
	            </div>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navigation">
	              <ul class="navbar-nav ml-auto">
	                <li class="search-bar input-group" >
						<button class="btn  btn-icon btn-warning " id="timer_h"> 11 </button >
							<h3 style="margin-left:5px;margin-right:5px;"> : </h3>
						<button class="btn  btn-icon btn-warning " id="timer_m"> 11 </button >
							<h3 style="margin-left:5px;margin-right:5px;"> : </h3>
						<button class="btn  btn-icon btn-warning " id="timer_s"> 11 </button >

	                  <!-- <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
	                    <span class="d-lg-none d-md-block">Search</span>
	                  </button> -->
	                </li>
	                <li class="separator d-lg-none"></li>
	              </ul>
	            </div>
	          </div>
	        </nav>




			<!-- End Navbar -->
			{% block content %}{% endblock %}
			<form "" id="exam_key_form" method="POST" style="display:none;">
				<input type="text" name="exam_response" id="exam_response">
			</form>
			<footer class="footer">
				<div class="container-fluid">

					<div class="copyright">
						©
						<script>
							document.write(new Date().getFullYear())
						</script> made with <i class="tim-icons icon-heart-2"></i> by
						<a href="javascript:void(0)" target="_blank">Abhishek Saini</a> for a better JEE Prep.
					</div>
				</div>
			</footer>
		</div>


	</div>

	</div>
	<!--   Core JS Files   -->
	<script src="{% static 'dashboard/assets/js/core/jquery.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/core/bootstrap.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
	<!--  Google Maps Plugin    -->
	<!-- Place this tag in your head or just before your close body tag. -->
	<!-- Chart JS -->
	<script src="{% static 'dashboard/assets/js/plugins/chartjs.min.js' %}"></script>
	<!--  Notifications Plugin    -->
	<script src="{% static 'dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script>
	<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="{% static 'dashboard/assets/js/black-dashboard.min.js' %}"></script>
	<!-- Black Dashboard DEMO methods, don't include it in your project! -->

	{% block js_script %}




	{% endblock %}




	{% block script %}

	{% endblock %}

<script>

function timer(){
	var time =  ({{qpaper.duration}}+1) * 60000;
	var min_5 = 5*60000;
	var alert_flag = 1;
	var countDownDate = new Date().getTime() + time;
	console.log(11);
	// Update the count down every 1 second
	var x = setInterval(function() {

	// Get today's date and time
		var now = new Date().getTime();

		// Find the distance between now and the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		if(hours < 10)
		hours = "0" + hours;
		if(minutes < 10)
		minutes = "0" + minutes;
		if(seconds < 10)
		seconds = "0" + seconds;
		$('#timer_h').text(hours);
		$('#timer_m').text(minutes);
		$('#timer_s').text(seconds);
		// If the count down is finished, write some text
		if (distance < min_5) {
			if(alert_flag){

				alert("5 minutes remaining");
				alert_flag = 0;
			}
		}
		if (distance < 1) {
			submitPaper();
		}
	}, 1000);
}
timer();

</script>
</body>

</html>
