{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="{% static 'dashboard/assets/img/favicon.png">
	<title>
		{% block title %} {% endblock %}
	</title>
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<!-- Nucleo Icons -->
	<link href="{% static 'dashboard/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
	<!-- CSS Files -->
	<link href="{% static 'dashboard/assets/css/black-dashboard.css' %}" rel="stylesheet" />
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="{% static 'dashboard/assets/demo/demo.css' %}" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">

</head>

<body class="">

	<div class="wrapper">

		<div class="main-panel">

			<nav class="navbar navbar-expand-lg navbar-fixed navbar-dark" style="position:fixed; margin-bottom:5px">
	          <div class="container-fluid">
	            <div class="navbar-wrapper">
	              <div class="navbar-toggle d-inline">
	                <button type="button" class="navbar-toggler">
	                  <span class="navbar-toggler-bar bar1"></span>
	                  <span class="navbar-toggler-bar bar2"></span>
	                  <span class="navbar-toggler-bar bar3"></span>
	                </button>
	              </div>
	              <a class="navbar-brand badge badge-default" href="javascript:void(0)" style="padding:8px 12px;">
					  {{qpaper.name}}
				  </a>
	            </div>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	              <span class="navbar-toggler-bar navbar-kebab"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navigation">
	              <ul class="navbar-nav ml-auto">
					<li class="search-bar input-group" style="">
						  <a class="navbar-brand badge badge-danger" href="/test-info/{{qpaper.id}}" style="margin-right:200px; padding:8px 12px;">
							  Quit
						  </a>
						  <button style="margin-left:50px; visibility: hidden;"> </button>
  	                </li>
					<li class="search-bar input-group" style="">
						  <a class="navbar-brand badge badge-primary" href="/test-info/{{qpaper.id}}" style="margin-right:200px; padding:8px 12px;">
							  <span id="timer_h"> 00 </span> :
							  <span id="timer_m"> 00 </span> :
							  <span id="timer_s"> 00 </span>
						  </a>
						  <button style="margin-left:100px; visibility: hidden;"> </button>
  	                </li>

	                <!-- <li class="search-bar input-group"  >

						<button class="btn  btn-icon btn-warning " id="timer_h"> 00 </button >
							<h3 style="margin-left:5px;margin-right:5px;"> : </h3>
						<button class="btn  btn-icon btn-warning " id="timer_m"> 00 </button >
							<h3 style="margin-left:5px;margin-right:5px;"> : </h3>
						<button class="btn  btn-icon btn-warning " id="timer_s"> 00 </button >
	                </li> -->

	                <li class="separator d-lg-none"></li>
	              </ul>
	            </div>
	          </div>
	        </nav>

			<!-- <nav class="navbar navbar-expand-lg navbar-light navbar-fixed bg-light">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="navbar-brand" href="#">Navbar</a>

			  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Disabled</a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
			</nav> -->



			<!-- End Navbar -->
			{% block content %}{% endblock %}
			<form "" id="exam_key_form" method="POST" style="display:none;">
				<input type="text" name="exam_response" id="exam_response">
			</form>

			<div class="modal fade" id="time_alert_modal" tabindex="-1" role="dialog" aria-labelledby="time_alert_modal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="time_alert_modal">Time Alert!!</h5>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<i class="tim-icons icon-simple-remove"></i>
							</button>
						</div>
						<div class="modal-body">
							Hurry Up!! <br>
							Only 5 minutes left.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">

					<div class="copyright">
						©
						<script>
							document.write(new Date().getFullYear())
						</script> made with <i class="tim-icons icon-heart-2"></i> by
						<a href="javascript:void(0)" target="_blank">Abhishek Saini</a> for a better JEE Prep.
					</div>
				</div>
			</footer>
		</div>


	</div>

	<!--   Core JS Files   -->
	<script src="{% static 'dashboard/assets/js/core/jquery.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/core/bootstrap.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
	<!--  Google Maps Plugin    -->
	<!-- Place this tag in your head or just before your close body tag. -->
	<!-- Chart JS -->
	<script src="{% static 'dashboard/assets/js/plugins/chartjs.min.js' %}"></script>
	<!--  Notifications Plugin    -->
	<script src="{% static 'dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script>
	<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="{% static 'dashboard/assets/js/black-dashboard.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/test_env.js' %}"></script>
	<!-- Black Dashboard DEMO methods, don't include it in your project! -->

	{% block js_script %}




	{% endblock %}




	{% block script %}

	{% endblock %}

<script>


</script>
</body>

</html>
