<div class="card card-user">
  <div class="card-body">
	<p class="card-text">
	  <div class="author">
		<div class="block block-one"></div>
		<div class="block block-two"></div>
		<div class="block block-three"></div>
		<div class="block block-four"></div>
		<a href="javascript:void(0)">
		  <img class="avatar" src="../assets/img/emilyz.jpg" alt="...">
		  <h5 class="title">Mike Andrew</h5>
		</a>
		<p class="description">
		  Ceo/Co-Founder
		</p>
	  </div>
	</p>
	<div class="card-description">
	  Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
	</div>
  </div>
  <div class="card-footer">
	<div class="button-container">
	  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
		<i class="fab fa-facebook"></i>
	  </button>
	  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
		<i class="fab fa-twitter"></i>
	  </button>
	  <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
		<i class="fab fa-google-plus"></i>
	  </button>
	  <button href="javascript:void(0)" class="btn btn-icon btn-google" >
		<i class="fab fa-google-plus"></i>
	  </button>
	</div>
  </div>
</div>

<div class="card ">
		<div class="card-header">
			<h4 class="title">Notations</h5>
		</div>

	<div class="card-body" style="margin-top:-12px;">
		<div class="row" style=" margin-bottom:-8px">
			<div class="col-md-3 pr-md-1">
				<button href="javascript:void(0)" class="btn btn-icon btn-google btn-success" >
			  		1
			  	</button>
			</div>
			<div class="col-md-9 pla-md-1" style="padding:12px;">
				<span class="description" style="font-size:15px;"> Answered </span >
			</div>
		</div>



		<hr>
		<div class="row" style="margin-top:-8px; margin-bottom:-8px">
			<div class="col-md-3 pr-md-1">
				<button href="javascript:void(0)" class="btn btn-icon btn-google btn-muted" >
			  		2
			  	</button>
			</div>
			<div class="col-md-9 pla-md-1" style="padding:12px;">
				<span class="description" style="font-size:15px;"> Not Answered </span >
			</div>
		</div>

		<hr>
		<div class="row" style="margin-top:-8px; margin-bottom:-8px">
			<div class="col-md-3 pr-md-1">
				<button href="javascript:void(0)" class="btn btn-icon btn-google btn-info" >
			  		3
			  	</button>
			</div>
			<div class="col-md-9 pla-md-1" style="padding:12px;">
				<span class="description" style="font-size:15px;"> Marked for Review</span >
			</div>
		</div>

		<hr>
		<div class="row" style="margin-top:-8px; margin-bottom:-8px;">
			<div class="col-md-3 pr-md-1">
				<button href="javascript:void(0)" class="btn btn-icon btn-google btn-primary" >
			  		4
			  	</button>
			</div>
			<div class="col-md-9 pla-md-1" style="padding:12px;">
				<span class="description" style="font-size:15px;"> Answered & To Review </span >
			</div>
		</div>
	</div>
	<div class="card-footer">
	</div>
</div>


<style>

</style>
